<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Index-Produto</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
</head>

<body>
	<div th:insert="fragment/publica-nav :: nav"></div>

	<div class="container-fluid mt-2">
		<div class="row">
			<div class="col ">
				<nav class="navbar navbar-expand-lg mt-1 mb-3">
					<div class="container-fluid">
						<a class="btn btn-outline-primary "
							title="Adicionar um novo produto" alt="stackoverflow logo"
							th:href="@{/usuario/novo/}">Novo<i class="bi bi-person-add ">
						</i>
						</a>
						<button class="navbar-toggler" type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
							</ul>
							<form class="d-flex">
								<input class="form-control me-2" type="text" name="palavraChave"
									id="palavraChave" th:value="${palavraChave}"
									required="required" placeholder="Buscar">
								<button class="btn btn-outline-success mr-3" type="submit">
									<i class="bi bi-search"></i>
								</button>
								<a type="button" class="btn btn-default"
									style="padding-right: 10" href="/usuario/admin/listar">Limpar</a>
							</form>
						</div>
					</div>
				</nav>
				<table class="table table-striped fs-5 mt-4 ">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">NOME</th>
							<th scope="col">CPF</th>
							<th scope="col">Nascimento</th>
							<th scope="col">E-mail</th>
							<th scope="col">Login</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<!-- Se lista = Vazia -> exibe mensagem -->
						<tr th:if="${usuarios.empty}">
							<td colspan="10" class="text-center">Sem usuários</td>
						</tr>
						<tr th:each="usuario : ${usuarios}">
							<td><span th:text="${usuario.id}"></span></td>
							<td><span th:text="${usuario.nome}"></span></td>
							<td><span th:text="${usuario.cpf}"> Cpf </span></td>
							<td><span
								th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}">
									Nascimento </span></td>
							<td><span th:text="${usuario.email}"> E-mail </span></td>
							<td><span th:text="${usuario.login}"> E-Login </span></td>
							<!-- Buttons -->

							<td class="justify-content-end">
								<div class="btn-group" role="group"
									aria-label="Basic mixed styles example">
									<a class="btn btn-outline-primary ml-2"
										th:href="@{/usuario/editar/{id}(id=${usuario.id})}"
										title="Atualizar dados do Usuário" alt="stackoverflow logo"
										width="120" height="47"> <i class="bi bi-pencil-square"></i>
									</a> <a class="btn btn-outline-warning"
										th:href="@{/usuario/editarPapel/{id}(id=${usuario.id})}"
										title="Editar Permissões de Acesso" alt="stackoverflow logo"
										width="120" height="47"> <i class="bi bi-lock"></i>
									</a> <a class="btn btn-outline-danger "
										th:href="@{/usuario/admin/apagar/{id}(id=${usuario.id})}"
										th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
										onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
										title="Deletar Usuário" alt="stackoverflow logo" width="120"
										height="47"> <i class="bi bi-person-x-fill "></i>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="text-end fs-6">
		<div class="container-fluid ">
			<footer class="footer mt-auto py-1 bg-light">
				<div class="container">
					<span class="text-muted">SYS-Springboot Por: Marcelo F.
						Lopez |Build: 2023 </span> <span class="text-muted">|<i
						class="bi bi-github"></i> <a
						href="https://github.com/MarceloFLopez">GitHub</a>
					</span>
				</div>
			</footer>
		</div>
	</div>

</body>

</html>