<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de usuários</title>

<link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
</head>
<body>
	<div th:insert="fragment/publica-nav :: nav"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col ">
				<a class="btn btn-primary fs-5  mt-3 "  title="Adicionar um novo usuário" alt="stackoverflow logo" width="120" height="47" th:href="@{/usuario/novo/}">Novo<i
					class="bi bi-person-add " > </i>
				</a>
				<table class="table table-striped fs-5 mt-4">
					<thead>
						<tr>
						    <th>#</th>
							<th>Nome</th>
							<th>CPF</th>
							<th>Nascimento</th>
							<th>E-mail</th>
							<th>Login</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<!-- Se lista = Vazia -> exibe mensagem -->
						<tr th:if="${usuarios.empty}">
							<td colspan="10" class="text-center">Sem usuários</td>
						</tr>

						<!-- Conteudo da lista -->
						<tr th:each="usuario : ${usuarios}">
							<td><span th:text="${usuario.id}">  </span></td>
							<td><span th:text="${usuario.nome}"> Nome </span></td>
							<td><span th:text="${usuario.cpf}"> Cpf </span></td>
							<td><span th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"> Nascimento </span></td>
							<td><span th:text="${usuario.email}"> E-mail </span></td>
							<td><span th:text="${usuario.login}"> E-Login </span></td>

							<!-- 				<td><span class="fs-5"
								th:text="${usuario.ativo} ? 'ATIVO' : 'NÃO ATIVO'">
									Ativo? </span></td>


							<td style="font-size: 15px"><th:block
									th:each="pp : ${usuario.papeis}">
									<span  th:text="${pp.papel}">Permissão</span>
									<br />
								</th:block></td> -->
							<!-- Fim Conteudo da lista -->

							<!-- Buttons -->

							<td class="justify-content-end">

								<div class="btn-group" role="group"
									aria-label="Basic mixed styles example">
									<a class="btn btn-primary ml-2"
										th:href="@{/usuario/editar/{id}(id=${usuario.id})}" title="Atualizar dados do Usuário" alt="stackoverflow logo" width="120" height="47"> <i
										class="bi bi-pencil-square"  ></i>
									</a> <a class="btn btn-warning"
										th:href="@{/usuario/editarPapel/{id}(id=${usuario.id})}" title="Editar Permissões de Acesso" alt="stackoverflow logo" width="120" height="47">
										<i class="bi bi-lock"  ></i>
									</a> <a class="btn btn-danger " 
										th:href="@{/usuario/admin/apagar/{id}(id=${usuario.id})}"
										th:data-confirm-delete="|Você gostaria de apagar ${usuario.nome}?|"
										onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"  title="Deletar Usuário" alt="stackoverflow logo" width="120" height="47">
										<i class="bi bi-person-x-fill "></i>
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="text-end fs-6">
		<div class="container-fluid ">
			<footer class="footer mt-auto py-3 bg-light">
				<div class="container">
					<span class="text-muted">SYS-Springboot Por: Marcelo F.
						Lopez |Build: 2023 </span> <span class="text-muted">|<i
						class="bi bi-github"></i> <a
						href="https://github.com/MarceloFLopez">GitHub</a>
					</span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
