<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Atualizar usuário</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">

<style>
.mensagem {
	color: red;
	font-size: 14px;
}
</style>
</head>
<body>
	<div th:insert="fragment/publica-nav :: nav"></div>

		<div class="container col-lg-6 col-md-6 col-sm-6 justify-content-center card mt-3">
			<div class="row">
				<h2 class="text-center pt-3 pb-3">Alterar usuário</h2>
				<div class="col">
					<form th:action="@{/usuario/editar/{id}(id=${usuario.id})}"
						th:object="${usuario}" method="post">

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Nome:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" th:field="*{nome}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
									th:errors="*{nome}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">CPF:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" th:field="*{cpf}"
									placeholder="Ex: 123.456.789-10">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('cpf')}"
									th:errors="*{cpf}"></span>
								<span class="mensagem"
									th:if="${cpfExiste}" th:text="${cpfExiste}"></span>
							</div>
						</div>


						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Nascimento:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text"
									placeholder="Ex: 01/10/2000" th:field="*{dataNascimento}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem"
									th:if="${#fields.hasErrors('dataNascimento')}"
									th:errors="*{dataNascimento}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Email:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" th:field="*{email}"
									placeholder="exemplo@email.com">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></span>
								<span class="mensagem"
									th:if="${emailExiste}" th:text="${emailExiste}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Login:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" th:field="*{login}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('login')}"
									th:errors="*{login}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Senha:</label>
							<div class="col-sm-5">
								<input class="form-control" type="text" th:field="*{password}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></span>
								<span class="mensagem"
									th:if="${loginExiste}" th:text="${loginExiste}"></span>	
							</div>
						</div>

						<!-- 	<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Senha:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{password}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></span>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Situação:</label>
						<div class="col-sm-2">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="true"
									th:field="*{ativo}" disabled> 
								<label class="form-check-label">ativo</label>
							</div>
							
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="false"
									th:field="*{ativo}" disabled> 
								<label class="form-check-label">não ativo</label>
							</div>
						</div>
					</div> 	 -->
					<div class="box-footer">
					<input class="btn btn-primary mt-3 mb-3" type="submit" value="Alterar" />
					<a type="button" class="btn btn-default"
								href="/usuario/admin/listar">Voltar</a>
					</div>

					</form>
				</div>
			</div>
		</div>

	<div th:insert="fragment/publica-footer :: footer"></div>
</body>
</html>