<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Atualizar usuário</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">

<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>
	<div th:insert="fragment/publica-nav :: nav"></div>
	<main class="mt-4 col-md-9 offset-md-1">
	<div class="container-fluid mt-3">
		<div class="row">
			<h2>Alterar usuário</h2>
			<div class="col">
				<form th:action="@{/usuario/editar/{id}(id=${usuario.id})}"
					th:object="${usuario}" method="post">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Nome:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{nome}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">CPF:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{cpf}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('cpf')}"
								th:errors="*{cpf}"></span>
						</div>
					</div>


					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Nascimento:</label>
						<div class="col-sm-3">
							<input class="form-control" type="text"
								th:field="*{dataNascimento}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem"
								th:if="${#fields.hasErrors('dataNascimento')}"
								th:errors="*{dataNascimento}"></span>
						</div>
					</div>



					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Email:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{email}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></span>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Login:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{login}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('login')}"
								th:errors="*{login}"></span>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Senha:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{password}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></span>
						</div>
					</div>




					<!-- 
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Senha:</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" th:field="*{password}">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></span>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Situação:</label>
						<div class="col-sm-2">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="true"
									th:field="*{ativo}" disabled> 
								<label class="form-check-label">ativo</label>
							</div>
							
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="false"
									th:field="*{ativo}" disabled> 
								<label class="form-check-label">não ativo</label>
							</div>
						</div>
					</div>
					 -->
					<input class="btn btn-primary" type="submit" value="Alterar" />
				</form>
			</div>
		</div>
			</div>
	</div>
	<div th:insert="fragment/publica-footer :: footer"></div>
</body>
</html>