<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
<body>
		<div class=" text-end fs-6" th:fragment="footer">
			<div class="container-fluid fixed-bottom">
				<footer class="footer mt-auto py-1 bg-light">
					<div class="container-fluid">
						<span class="text-muted">SyS-Springboot Por: Marcelo F.
							Lopez |Build: 2023 </span> <span class="text-muted">| <a
							href="https://github.com/MarceloFLopez">GitHub <i
								class="bi bi-github"></i></a>
						</span>
					</div>
				</footer>
			</div>
		</div>

</body>
</html>
