<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Novo Usuário</title>
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">

<style>
.mensagem {
	color: red;
	font-size: 12px
}

body {
	height: 100%
}
</style>
</head>
<body>
	<div th:insert="fragment/publica-nav :: nav"></div>
	<main class="mt-2 col-md-9 offset-md-1">
		<div
			class="col-lg-8 col-md-7 col-sm-7 container justify-content-center card">
			<div class="row">
				<div class="col">
					<h2 class="text-center pb-2 pt-2">Cadastro de usuários</h2>
					<div class="alert alert-success alert-dismissible fade show"
						th:if="${mensagem}">
						<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
						<span th:text="${mensagem}"></span>
					</div>
					<div class="alert alert-danger alert-dismissible fade show"
						th:if="${error}">
						<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
						<span th:text="${error}"></span>
					</div>
					

					<!-- Formulário -->
					<form action="#" th:action="@{/usuario/salvar}"
						th:object="${usuario}" method="post">
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Nome:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" th:field="*{nome}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
									th:errors="*{nome}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">CPF:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" th:field="*{cpf}"
									placeholder="Ex: 123.456.789-10">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('cpf')}"
									th:errors="*{cpf}"></span> <span class="mensagem"
									th:if="${cpfExiste}" th:text="${cpfExiste}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Nascimento:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text"
									th:field="*{dataNascimento}" placeholder="Ex: 01/01/2000">
							</div>
							<div class="col-sm-5">
								<span class="mensagem"
									th:if="${#fields.hasErrors('dataNascimento')}"
									th:errors="*{dataNascimento}"></span>
							</div>
						</div>


						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Email:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" th:field="*{email}"
									placeholder="Ex: exemplo@email.com ">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></span> <span class="mensagem"
									th:if="${emailExiste}" th:text="${emailExiste}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Login:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" th:field="*{login}">
							</div>
							<div class="col-sm-4">
								<span class="mensagem" th:if="${#fields.hasErrors('login')}"
									th:errors="*{login}"></span> <span class="mensagem"
									th:if="${loginExiste}" th:text="${loginExiste}"></span>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Senha:</label>
							<div class="col-sm-4">
								<input class="form-control" type="text" th:field="*{password}">
							</div>
							<div class="col-sm-5">
								<span class="mensagem" th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></span>
							</div>
						</div>

						<div class="box-footer pb-4">
							<input class="btn btn-primary" type="submit" value="Salvar">
							<a type="button" class="btn btn-default"
								href="/usuario/admin/listar">Voltar</a>
						</div>

					</form>

				</div>
			</div>

		</div>
	</main>
	<div class=" text-end fs-6">
		<div class="container-fluid fixed-bottom">
			<footer class="footer mt-auto py-1 bg-light">
				<div class="container-fluid">
					<span class="text-muted">SyS-Springboot Por: Marcelo F.
						Lopez |Build: 2023 </span> <span class="text-muted">| <a
						href="https://github.com/MarceloFLopez">GitHub <i
							class="bi bi-github"></i></a>
					</span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>
