<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>

<link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
<body >
	<div th:insert="fragment/publica-nav :: nav"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col my-4">
				<h1 th:text="${msnBemVindo}"></h1>
				<h3><p>Teste</p></h3>
			</div>
		</div>
	</div>
	
	<div th:insert="fragment/publica-footer :: footer"></div>
</body>
</html>